{% extends 'base.html.twig' %}

{% block title %}Hello WineController!{% endblock %}

{% block body %}
<main id="add">

    <h1>Edition Mode</h1>
    


    <section id="liste">
        <div class="cards">
        </div>
    </section>
    <a href="{{path('wine')}}" class="btn">Back to the Wines</a>
</main>
{% endblock %}
