@use 'variables' as v;
@use "mixins" as m;
body {
    font-family: "Roboto Slab", sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    color: white;

}
ul {list-style-type: none;}
a{
    color: white;
    text-decoration: none;
    font-family: "Regular";
}
p{font-family: "Regular";}

h1,h2,h3{
        text-align: center;
        font-family: "Bold";
        color: v.$colorSecondary;
    }
h1{
        font-size: 2.5rem;
        margin: 0rem;
        padding-top: 10%;
        text-shadow: 0px 3px 3px white;
    }
h2{
        font-size: 1.5rem;
    }
#empty{text-align: center;}
#titleC{color: white; box-shadow: none;}
// Formulaires 
.registration-form,
.login-form, .picture-form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 12px v.$grey;
    font-family: "Roboto Slab", sans-serif;
    background: v.$colorSecondary;
}
.login-form {
    background: v.$colorSecondary;
}

.form-title,
.registration-form h1 {
    text-align: center;
    color: v.$colorPrimary;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;

    label {
        display: block;
        margin-bottom: 0.4rem;
        font-weight: bold;
        color: white;
    }
}

.input,
.select,
.file-input {
    width: 90%;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    background: v.$grey;
    transition: border 0.3s ease;
    border: 2px solid #f8c291;

    &:focus {
        border-color: #9b5324;
        outline: none;
    }
}

.submit,
.submit-button {
    display: block;
    width: 100%;
    background-color: v.$colorPrimary;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: black;
    }
}

.alert-error {
    background-color: v.$colorPrimary;
    border-left: 5px solid v.$grey;
    color: white;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-weight: bold;
}

.already-logged {
    text-align: center;
    margin-bottom: 1rem;
    color: v.$colorPrimary;
}


#login{
    background-image: url(/public/images/bgInscription.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    h1{
        color: v.$grey;
    }
}
.filter-form{
    @include m.form; 
}
#wines{
    @include m.form; 
    .filter-form{
        width: 30%;
    }
    background-image: url(../../public/images/bgInscription.jpg);
    background-position: center;
    background-size: cover;
}
main{padding: 2rem 0;}
#user-caves{
    background-image: url(../../public/images/cave.jpg);
    background-position: center;
    background-size: cover;
    @include m.form; 
    .filter-form{
        width: 30%;
    }
}
.btn{
    display: block;
    width: 80%;
    background-color: v.$colorPrimary;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: black;
    }
}
.minus,.plus{
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    background-color: v.$colorSecondary;
    padding: 0rem 0.4rem;
    &:hover {
        background-color: black;
    }
}
.plus{
    padding: 0rem 0.5rem;
}
.minus{
    padding: 0rem 0.8rem;
}
.actions{
    display: flex;
    flex-direction: column;
}
.cards .card .actions .supprimer:hover {
    background-color: white;
    color: #88002d;
}
.cards .card .actions .modifier:hover {
    background-color: white;
    color: #88002d;
}

#menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

#menu-toggle .bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
}