@use 'variables' as v;
body {
    font-family: "Roboto Slab", sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    color: white;

}
ul {list-style-type: none;}
a{
    color: white;
    text-decoration: none;
}

    h1,h2,h3{
        text-align: center;
        font-family: "Playfair Display SC", serif;
        color: v.$primary-color;
    }
    h1{
        font-size: 2.5rem;
        margin: 0rem;
        padding-top: 3rem;
        text-shadow: 0px 3px 3px white;
    }
    h2{
        font-size: 1.5rem;
    }
// Formulaires 
.registration-form,
.login-form, .picture-form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 12px v.$grey;
    font-family: "Roboto Slab", sans-serif;
    background: v.$colorSecondary;
}
.login-form {
    background: v.$colorSecondary;
}

.form-title,
.registration-form h1 {
    text-align: center;
    color: v.$colorPrimary;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;

    label {
        display: block;
        margin-bottom: 0.4rem;
        font-weight: bold;
        color: white;
    }
}

.input,
.select,
.file-input {
    width: 90%;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    background: v.$grey;
    transition: border 0.3s ease;
    border: 2px solid #f8c291;

    &:focus {
        border-color: #9b5324;
        outline: none;
    }
}

.submit,
.submit-button {
    display: block;
    width: 100%;
    background-color: v.$colorPrimary;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: black;
    }
}

.alert-error {
    background-color: v.$colorPrimary;
    border-left: 5px solid v.$grey;
    color: white;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-weight: bold;
}

.already-logged {
    text-align: center;
    margin-bottom: 1rem;
    color: v.$colorPrimary;
}


#login{
    background-image: url(/public/images/bgInscription.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    h1{
        color: v.$grey;
    }
}
.filter-form{
    width: 40%;
    height: auto;
    margin: auto;
    background-color: v.$primary-color;
    border-radius: 10px;
    
    .wine-filter{
       text-align: center;
       margin: 1rem;
       input{
        margin: 1rem;
        height: 2rem;
        width: 300px;
        border-radius: 20px;
       }
       select{
        margin: 1rem;
        height: 2rem;
        width: 300px;
        border-radius: 20px;
       }
       button{
        margin: 1rem;
        height: 2rem;
        width: 300px;
        cursor: pointer;
        background-color: v.$grey;
        border-radius: 20px;
        border: none;
       }
       button:hover{
        background-color: v.$colorSecondary;
       }
      
    }
}
.btn{
    display: block;
    width: 80%;
    background-color: v.$colorPrimary;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: black;
    }
}