@use 'variables' as v;
@use "mixins" as m;

//My Cellar
#myCellar{
    #emptyCellar{
        margin: 0;
        text-align: center;
        color: white;
        padding-top: 20%;
        font-size: 4rem;
    }
}
#liste {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    .card {
        @include m.card;
        background-color: white;
        height: 40
        ;
        .modifier{
            color: black;
        }
        .add{background-color: v.$grey; border-radius: 10px;}
    }
}
.btn{
    width: 10%;
    text-align: center;
    margin: auto;
    background-color: v.$grey;
}