@media (max-width: 1497px) {
  /* Masquer le menu sur mobile */
  .nav-list {
    display: none !important;
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 0;
    background-color: black;
    width: 100%;
    flex-direction: column;
    align-items: end;
    gap: 0;
  }
nav .nav-list li a{
    padding: 0;
}
    .latest>.btn{
        width: 50%;
    }
  /* Afficher le menu burger */
  #menu-toggle {
    display: flex !important;
    position: absolute;
    top: 15px;
    right: 15px;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  #menu-toggle span {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
  }

  /* Afficher le menu lorsque le burger est activé */
  .nav-list.active {
    display: flex !important;
  }

  /* Effet hover */
  .nav-list li a:hover {
    background-color: #222;
  }
}
#user-caves .filter-form{
    padding-right: 4rem;
}

@media (max-width: 900px) {
    #user-caves .filter-form{
    padding-right: 10%;
}
    #user-caves .filter-form .wine-filter input{
        width: 100%;
    }
    main .home-container p{
        width: 90%;
    }
    main{
    min-height: 100%;
}
.sf-toolbar-clearer{
    display: none;
}
footer{
    flex-direction: column;
    align-items: center;
}
}
