$primary-color:#3e0018;
$primary-colorOp:rgba(62, 0, 24, 0.8);
$secondarycolor:#88002d;
$thirdcolor:#885c7e;
$colorPrimary: #3e0018;
$colorSecondary: #88002d;
$black: #363633;
$grey: #885c7e;
$greyOp: rgba(136, 92, 126, 0.8)

// @font-face {
//     font-family: "Regular";
//     src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
// }
// @font-face {
//     font-family: "Bold";
//     src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
// }