{% extends 'base.html.twig' %}

{% block title %}Hello AllCellarsController!{% endblock %}

{% block body %}
<main id="user-caves">
    <h1>All of our Wine Cellars</h1>
        <div class="filter-form">
            <div class="wine-filter">
                <label for="wine-search">Search a cellar:</label>
                <input type="text" id="cellar-search" placeholder="Search cellars..." autocomplete="off" >
                <ul id="search-results" class="search-results"></ul>
            </div>
        </div>
    {% if cellars is empty %}
        <p>No cellar found.</p>
    {% else %}
        <section id="liste">
        <div class="cards">
        {% for cellar in cellars %}
            <div class="card">   
                <h2> {{ cellar.user.username }}'s Cellar</h2>
                    <p> {{ cellar.Wines|length  }} different bottles in this collection.</p>
                    <a href="{{ path('cellar', { 'cellar': cellar.id }) }}" class="btn">Visit this Cellar</a>  
            </div>
            
        {% endfor %}
        </div>
    </section>
    {% endif %}
</main>

{% endblock %}
