{% extends 'base.html.twig' %}

{% block title %}Hello AllCellarsController!{% endblock %}

{% block body %}
<main id="user-caves">
    <h1>All of our Wine Cellars</h1>

    {% if cellars is empty %}
        <p>No cellar found.</p>
    {% else %}
        <div class="cave-list">
            {% for cellar in cellars %}
                <article class="user-cave">
                    <h2> {{ cellar.user.username }}'s Cellar</h2>
                    <p> {{ cellar.Wines|length }} different bottles in this collection.</p>
                    <a href="{{ path('cellar', { 'cellar': cellar.id }) }}" class="btn">Visit this Cellar</a>
                </article>
            {% endfor %}
        </div>
    {% endif %}
</main>

{% endblock %}
